.App {
    align-items: center;
    display: flex;
    margin-top: 15px;
    flex-direction: column;
    justify-content: center;
  }
  .App-title {
    font-style: italic;
    font-size: 16px;
    font-weight: bold;
  }
  .App-form {
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 30px;
    padding: 20px;
    width: 70%;
  }
  